@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    padding: .5rem 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

body, html {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    background: #f4f4f4;
    font-size: 10px;
}

.container {
    width: 90%;
    height: 80%;
    margin: auto;
    margin-top: 5.4rem;
}

main {
    height: 100vh;
}

#card {
    width: 65rem;
    height: 45rem;
    margin: auto;
    margin-top: 10rem;
    display: flex;
    border-radius: 1rem;
}

#card .logo-img {
    height: 100%;
    flex-basis: 19.5rem;
    background: linear-gradient(159.4deg, #A4EDFF 12.07%, #9CBFEA 40%, #8024A3 99.49%);
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
}

.logo-img-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

#card .logo-img .puma {
    width: 5rem;
    margin-top: 1rem; 
}

#card .logo-img .stampd {
    width: 20rem;
    position: absolute;
    top: 10rem;
    left: -5rem;
}

#card .logo-img .logo-img-icons i {
    color: #d4d4d4;
    font-size: 1rem;
}

#card .logo-img .logo-img-icons i:first-child {
    color: #f4f4f4;
}

#card .content {
    height: 100%;
    flex: 1;
    background: #fff;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}

.content-wrapper {
    height: 100%;
    display: grid;
    grid-template-rows: 5fr 3fr 2.5fr 2fr;
    gap: 2.5rem;
}

#card .content .content-header h2 {
    text-transform: uppercase;
    font-size: 3rem;
    display: inline-block;
}

#card .content .content-header > div {
    display: inline-block;
    margin-left: 6.5rem;
}

#card .content .content-header > div i {
    color: #FB4341;
    font-size: 1.7rem;
}

#card .content .content-header > p:first-of-type {
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #d4d4d4;
}

#card .content .content-header .delete,
#card .content .content-header > p:last-of-type {
    display: inline-block;
    font-size: 1.8rem;
    font-weight: bold;
}

#card .content .content-header > p:last-of-type {
    color: #FB4341;
    margin-left: 3rem;
}

#card .content .content-description p:first-of-type {
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: bold;
}

#card .content .content-description p:last-of-type {
    font-size: 0.93rem;
    font-weight: bold;
    color: #d4d4d4;
}

#card .content .content-options {
    display: flex;
}

#card .content .content-options .content-options-box {
    height: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}

#card .content .content-options .content-options-box .select-drpdwn {
    display: flex;
    align-items: center;
    color: #d4d4d4;
    font-weight: bold;
}

#card .content .content-options .content-options-box .select-drpdwn p {
    font-size: 1.2rem;
}

#card .content .content-options .content-options-box .select-drpdwn i {
    font-size: 1.5rem;
}

#card .content .content-options > div:first-of-type {
    margin-right: 3rem;
}

#card .content .content-options > div:first-of-type i {
    font-size: 1.7rem;
}

#card .content .content-options > div:first-of-type i:last-child {
    color: #d4d4d4;
}

#card .content .content-options > div h3 {
    text-transform: uppercase;
    font-size: 1rem;
}

#card .content .content-options .drpdwn {
    border-left: 1px solid #d4d4d4;
    padding: 0 3rem;
}

#card .content .content-submit {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#card .content .content-submit button {
    display: inline-block;
    border: none;
    height: 4rem;
    width: 16rem;
    text-transform: uppercase;
    background: linear-gradient(360deg, #FF5147 0%, rgba(255, 153, 111, 0.7) 58.01%);
    color: #fff;
    font-weight: bold;
    font-size: 1.4rem;
    border-radius: .4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#card .content .content-submit button i {
    margin-right: .5rem;
}

#card .content .content-submit:last-child {
    color: #d4d4d4;
}